<div class="container">

    <h5 class="detalhes"> 
        Detalhes dos usuarios
    </h5>
  <div class="row">

    <div class="col-md-4 espaco" *ngFor="let user of usuarioDetalhes">
      <div class="card">
        <div class="card-header">
          Dados do usuário
        </div>
        <div class="card-body">
          <p class="card-text"><img class="card-texts" [src]="user.picture.large"></p>
          <p class="card-text par"><span class="nome">Nome:</span> {{ user.name.first || user.name.last}} </p>
          <p class="card-text par">{{ user.location.street.name }}, {{ user.location.street.number }} </p>
          <p class="card-text par">Telefone: {{ user.phone }} </p>
          <p class="card-text par">Data nascimento: {{ user.dob.date | date: 'dd/MM/yyyy' }} </p>
          
        </div>
      </div>
    </div>
  </div>
</div>