img.card-texts{
    text-align: center;
    margin: 0 auto;
    width: 100px;
    display: block;
}
.par{
    text-align: center;
}
.nome{
    font-weight: 600;
}

.detalhes{
    margin-top: 20px;
    margin-bottom: 20px;

}
.espaco{
    margin-top: 20px;
    margin-bottom: 20px;
}