<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/home' ]" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/usuario' ]" routerLinkActive="active">Lista Usuários</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/userdetalhe' ]" routerLinkActive="active">Detalhes Usuários</a>
      </li>
    </ul>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>