<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h5 class="titulo-lista">Lista de Usuários</h5>
    </div>

    <div class="col-md-6 estilo">
      <span class="title">Nome</span>
      <ul class="estilo" *ngFor="let usuario of usuarios">
        <li>{{ usuario }}</li>
      </ul>
  </div>


  <div class="col-md-6 estilo">
      <span class="title">Email</span>
   <ul class="estilo" *ngFor="let email of emails">
     <li>{{ email }}</li> 
    </ul>
</div>
</div>
</div>

