.titulo-lista{
    margin-top: 20px;
    margin-bottom: 20px;
}
.estilo{
   
    border: 1px solid #ccc;
}
.estilo li{
    list-style-type: none;
    padding: 10px;
    background: palegoldenrod;
}
.title{
    margin: 10px;
    display: block;
    width: 100%;
}