<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>
        home works!
      </p>
      <div>
        <div>
          <div>
            <div style="display: block;" *ngIf="barChartData.length">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
            </div>
            <button class="btn btn-dark" (click)="randomize()">Update</button>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>
